@media(max-width: 600px) {
    .students-tests-container {
        padding: 0 !important;
        max-height: calc(100% - 60px);
        overflow: auto;
    }    

    .students-tests {
        max-height: 100%;
        overflow: auto;
    }
}


.students-tests-container {
    padding-right: 24px;
    padding-top: 24px;
}

.students-tests {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 8px;
    animation-duration: 0.3s;
}

.students-tests .students-tests-options {
    display: flex;
    flex-flow: row;
}

.select {
    display: flex;
    flex-flow: column;
    min-width: 120px;
}

.select-margin {
    margin-left: 8px;
}

.switch {
    display: flex;
    flex-flow: row;
    padding-top: 24px;
}

.module-grade-card-container {
    border-radius: 0.5em;
    padding: 8px;
    margin: 8px;
    background-color: #fff;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-column {
    display: flex;
    flex-flow: column;
}